
.money {
    color: red;
    size: 12;
 }
 
 .container {
    display: grid;
        grid-template-rows: 100px auto 150px;
        grid-template-columns: 2fr 3fr;
        grid-template-areas:     
        "name menu"  
        "main main"
        "footer footer" ;
    }
    
    .name {
        grid-area: name;
        background-color: #9DCD65;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .menu {
        grid-area: menu;
        background-color: #9DCD65 ;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .main {
        grid-area: main;
        background-color: #FCCA46;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    
    .footer{
        grid-area: footer;
        background: #182a02;
    }
