h1, h2 {
    font-family: 'Black Ops One', cursive;
}

body {
    font-family: 'IBM Plex Serif', serif;
    font-size: large;

}

.container {
    display: grid;
    grid-template-rows: 1fr 4fr 4fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
      'menu menu'
      'textpsycho foto'
      'offer offer'
      'patka patka';
    margin: 0;

}

.textpsycho {
    grid-area: textpsycho;
    padding: 20px;
    background-color: rgb(255, 252, 220);
    

}

.foto {
    grid-area: foto;
    padding-top: 20px;
    background-color: rgb(255, 252, 220);
    justify-content: center;
}

.offer {
    grid-area: offer;
    justify-content: center;
    padding-bottom: 10px;
    background-color: rgb(255, 252, 220);
}

button {
    background-color: orangered;
    width: 100px;
    height: 50px;
}

    
.mainContainer {
    width: 100%;
    height: 100vh;
    top: 0;
    background-color: rgb(255, 252, 220);
    display: grid;
    grid-template-rows: 100px auto 10px;
    grid-template-columns: 2fr 3fr;
    grid-template-areas:     
    "name menu"  
    "leftSide rightSide"
    "patka patka" ;
    
}

.name {
    grid-area: name;
    background-color: #9DCD65 ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

.menu {
    grid-area: menu;
    background-color: #9DCD65 ;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.rightSide {
    grid-area: rightSide;
    background-color: #FCCA46;
}

.rightSide img{
    grid: rightSide;
    width: 100%;
  }

.leftSide {
    grid-area: leftSide;
    background-color: #FCCA46;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.leftSideItem1 {
    width: 100%;
     flex: 1;
     background: #f4ebd0;
     display: flex;
     align-items: center;
     justify-content: center;
}

.leftSideItem2 {
    width: 100%;
     flex: 1;
     background: #F4E0AA;
     display: flex;
     align-items: center;
     justify-content: center;
}

.leftSideItem3 {
    width: 100%;
     flex: 1;
     background: #F2D689;
     display: flex;
     align-items: center;
     justify-content: center;
}

.leftSideItem4 {
    width: 100%;
     flex: 1;
     background: #fad365;
     display: flex;
     align-items: center;
     justify-content: center;
}

.leftSideItem5 {
    width: 100%;
     flex: 1;
     background: #FCCA46;
     display: flex;
     align-items: center;
     justify-content: center;
}

.patka{
    grid-area: patka;
    background: #182a02;
}

.patkaItem1{
    width: 100%;
     flex: 1;
     background: #182a02;
     display: flex;
     align-items: center;
     justify-content: center;
}

.patkaItem2{
    width: 100%;
     flex: 1;
     background: #182a02;
     display: flex;
     align-items: center;
     justify-content: center;
}

.patkaItem3{
    width: 100%;
     flex: 1;
     background: #182a02;
     display: flex;
     align-items: center;
     justify-content: center;
}

.patkaItem4{
    width: 100%;
     flex: 1;
     background: #182a02;
     display: flex;
     align-items: center;
     justify-content: center;
}

.patkaItem5{
    width: 100%;
     flex: 1;
     background: #182a02;
     display: flex;
     align-items: center;
     justify-content: center;
}

.patkaItem6{
    width: 100%;
     flex: 1;
     background: #182a02;
     display: flex;
     align-items: center;
     justify-content: center;
}