
.mainContainer {
width: 100vw;
height: auto;
top: 0;
background-color: rgb(255, 252, 220);
display: grid;
grid-template-rows: 100px auto 150px;
grid-template-columns: 2fr 3fr;
grid-template-areas:     
"name menu"  
"leftSide rightSide"
"patka patka" ;
margin: 0;
}
.name {
grid-area: name;
background-color: #9DCD65 ;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}
.menu {
grid-area: menu;
background-color: #9DCD65 ;
display: flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
}
.rightSide {
  grid-area: rightSide;
  background-color: #FCCA46;
}

.rightSide img{
  display:flex;
  align-items: flex-end;
}
.menuPanel{
grid-area: menu;
background-color: var(--clr-bg5);
font-size: 1.7rem;
font-family: sans-serif;
color: var(--clr-font-light);
display: flex;
flex-direction: row  ;
justify-content: left;
gap: 20px;
}

.leftPanel{
grid-area: leftSide;
background-color: var(--clr-bg2);
}

.členové {
grid-area: leftSide;
background-color: var(--clr-bg3);
display: flex;
flex-direction: column;
justify-content: left;

}

.leftPanel img{
border: 10px solid var(--clr-bg);
border-radius: 50%;
object-fit: cover;
}

.footerPanel{
grid-area: footer;
background-color: var(--clr-bg5);
color: white;
font-size: 2em;
padding-left: 10px;
display: flex;
justify-content: space-between;
align-items: center;
}

.mainTextPanel p, .mainTextPanel h2{
color: white;
width: 35%;
}

.mainPanel {
  grid-area: main;

  background-color:  rgb(255, 252, 220);

}
.patka{ 
grid-area: patka;
background: #182a02;
}


a:visited {
  color: black;
}